<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to Group Chat Box!!</title>
    <script src="https://cdn.socket.io/4.4.0/socket.io.min.js"
		integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj"
		crossorigin="anonymous"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

  </head>
  <body>
      <h1> Welcome to our Group CHATROOM {{data}}</h1>
      <h2> Here are some users </h2>
    
            {% for key in ans %}
               <p href =" ">{{key}}</p>
            {% endfor %}


            <script type="text/javascript">
              console.log("hekk");
              var name1 ;
              $(document).ready(function () {			
                var socket = io("/group");
                socket.on('connect', function () {
                  name = prompt("Hello Whats ur name ?? Please Enter Names from the List");
                  name1 = name ;
                  socket.send(name + ': has connected!');
                });
          
                socket.on('message', function (msg) {
                  $("#messages").append('<p>' +  msg + '</p>');
                  console.log('Received message');
                });
          
                $('#sendbutton').on('click', function () {
                  socket.send(name1 + " : "+ $('#myMessage').val());
                  $('#myMessage').val('');
                });
          
              });
            </script>
            <div>
              <h1 style="text-align: center;">Group Chat</h1>
            </div>
            <div style="text-align: center;">
              <div id="messages"></div>
              <input type="text" id="myMessage">
              <button id="sendbutton">Send</button>
            </div>
      <button><a href = "signin">Logout</button>


  </body>
</html>
